---
import { ViewTransitions } from 'astro:transitions';
import ReactCounter from '../../components/react/counter';
import PreactCounter from '../../components/preact/counter';
import { type Locale, __t, locales, preactLocale, reactLocale } from "../../lib/i18n";

export async function getStaticPaths() {
  return [
    { params: { locale: "en" } },
    { params: { locale: "fr" } },
    { params: { locale: "de" } }
  ]
}

const { locale = 'en' } = Astro.params;
const t = __t.bind(null, locale as Locale)
preactLocale.value = locale as Locale;
reactLocale.value = locale as Locale;
---

<html lang={ locale }>
	<head>
		<ViewTransitions />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{t("title")}</title>
	</head>
	<body class="prose md:mx-auto md:my-12 p-8 md:p-0">
		<div class="flex justify-center items-center flex-col">
			<h1 class="mb-2">{t("title")}</h1>
			<p class="my-0">{locale}</p>
		</div>
		<div class="grid gap-2 bg-neutral-100 p-4 my-10 rounded-xl">
			<ReactCounter transition:persist client:load />
			<PreactCounter transition:persist client:load />
		</div>
		<footer class="grid gap-2 bg-neutral-100 p-4 rounded-xl">
			<p class="my-0 text-sm">Also available in:</p>
			<ul class="flex gap-2 list-none my-0 justify-start px-0">
				{
					locales.map((l) => (locale !== l && <li class="my-0 uppercase"><a href={`/${l}/`}>{ l }</a></li>))
				}
			</ul>
		</footer>
	</body>
</html>

<script>
	import { getLocale, preactLocale, reactLocale } from "../../lib/i18n";

	const hydrateLocale = () => {
		const currentLocale = getLocale(window.location);
		if ( currentLocale !== preactLocale.peek() ) preactLocale.value = currentLocale;
		if ( currentLocale !== reactLocale.peek() ) reactLocale.value = currentLocale;
	}

	
	document.addEventListener('astro:after-swap', hydrateLocale)
	hydrateLocale();
</script>
 